target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.gradle

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

###gradle
/target
build

project.md
/decisions/2025-11-01.log
/decisions/2025-11-02.log
/docs/content/diagrams/basic.svg
/deploy/helm/heatwise-stack/charts/*.tgz
/deploy/helm/heatwise-stack/Chart.lock
.DS_Store

**/build/
**/.gradle/
.gradle/
**/.kotlin/
/ui/node_modules/
.bloop/app-test.json
.bloop/app.json
.bloop/bloop.settings.json
.bloop/docs-test.json
.bloop/docs.json
.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
.metals/.reports/metals-full/2025-11-23/r_empty-definition_(app)_01-13-02-593.md
.metals/.reports/metals-full/2025-11-23/r_empty-definition_(app)_01-16-15-512.md
.vscode/settings.json
